<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkcf.mapper.EmpMapper">
    <select id="list" resultType="com.kkcf.pojo.Emp">
        SELECT id, username, password, name, gender, image, job, entrydate, dept_id, create_time, update_time
        FROM emp
        <where>
            <if test="name != null and name != ''">
                name LIKE concat("%", #{name}, "%")
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="startDate != null and endDate != null">
                AND entrydate BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        DELETE FROM emp WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>