<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkcf.mapper.EmpMapper">
    <select id="list" resultType="com.kkcf.pojo.Emp">
        SELECT id, username, password, name, gender, image, job, entrydate, dept_id, create_time, update_time
        FROM emp
        <where>
            <if test="name != null and name != ''">
                name LIKE concat("%", #{name}, "%")
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="startDate != null and endDate != null">
                AND entrydate BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <delete id="deleteByIds">
        DELETE FROM emp WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateEmp">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="entrydate != null">
                entrydate = #{entrydate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
</mapper>